.outer {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px 0px 20px;
  z-index: 1;
}

.relative {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 5.4rem;
  overflow: visible;
}

.dropdown {
  position: relative;
  margin-top: 0.68rem;
  visibility: hidden;
}

.topleftusername {
  display: flex;
  align-items: center;
}

.outer div > p {
  color: #379392;
  display: inline-block;
  font-size: 1.15rem;
  font-weight: normal;
}

.outer p > span {
  font-weight: bold;
}

.BsPersonCircle {
  padding: 0;
  margin-bottom: 2px;
}

.personAndDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0px 0px 12px;
}

.dropDownActive {
  visibility: visible !important;
}

.ulDropDown {
  list-style-type: none;
}

.liDropDown {
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 0.7rem;
}

.liDropDown:hover {
  background-color: #379392;
  color: white;
}

.dashboardDropDown {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top-color: #eeee;
}

.signOutDropDown {
  border: 1px solid #bdbdbd;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.logo {
  width: 60px;
  height: auto;
  margin: 12px 0px 12px 12px;
}

.rightNavbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  color: #40a89f;
  font-weight: 900;
  padding-right: 2vw;
}

.registerButton {
  color: #ffffff;
  background-color: #40a89f;
  border: none;
  border-radius: 4px;
  height: fit-content;
  padding: 16px 0px;
  width: 50%;
  font-size: 1.2rem;
  margin-top: 24px;
}

.navbarItem:hover {
  color: #413687;
}

.navbarItem {
  font-size: 1.15rem;
}

.navbarToggle {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  transition: width 0.3s ease;
  z-index: 9999;
}

.show {
  visibility: visible !important;
  transform: translate(0, 0px) !important;
}

@media (max-width: 1014px) {
  .outer {
    gap: 5px;
  }
}

.buttonActive {
  color: #413687 !important;
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media (max-width: 991px) {
  .outer {
    justify-content: space-between;
  }

  .topleftusername {
    display: none;
  }

  .navbarItem {
    display: none;
  }

  .navbarToggle {
    display: block;
  }

  .overlay.show {
    width: 100%;
  }

  .backButton {
    display: inline-block;
  }

  .backText {
    margin-left: 16px;
  }

  .overlay > ul > li {
    color: black;
    padding: 20px 16px;
    font-size: 1.3rem;
  }

  .overlay > ul > li:hover {
    background-color: #d8eced;
  }

  .backButtonSection:hover {
    background-color: white !important;
  }

  .overlay li span {
    font-weight: bold;
  }

  .activeLi {
    background-color: #d8eced;
    font-weight: bold;
  }

  .profileLi {
    color: #4f4f4f;
    padding: 16px 0px 16px 50px;
    visibility: hidden;
    transform: translate(0, -20px);
    transition: transform 0.5s ease-in-out;
  }

  .profileLi:hover {
    background-color: #d8eced;
  }
}
